{% extends "frontbase.html" %}
{% if not is_popup %}
{% block breadcrumbs %}
{% endblock %}
{% endif %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar6"> <a class="navbar-brand text-primary d-none d-md-block" href="#">
          <i class="fa d-inline fa-circle fa-lg"></i>
          <b>After work</b>
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item text-center text-success" > <a class="nav-link " href="{% url 'index'  %}">Trang chủ</a> </li>
          <li class="nav-item text-success text-center"> <a class="nav-link"  href="{% url 'register_subjects'  %}">Đăng kí môn học</a> </li>
          
          <li class="nav-item text-center"> <a class="nav-link" href="{% url 'view_time_table'  %}">Xem TKB</a> </li>
          <li class="nav-item text-success text-center"> <a class="nav-link" href="{% url 'update_profile' %}">Sửa thông tin cá nhân</a> </li>
          <li class="nav-item text-center"> <a class="nav-link" href="{% url 'comment'  %}">Đóng góp ý kiến</a> </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item text-center"> <a class="nav-link" href="{% url 'home'  %}">Thoát</a> </li>
          <li class="nav-item text-center"> <a class="nav-link" style="color: #12bbad;" href="{% url 'password_change'  %}">Thay đổi mật khẩu</a> </li>
        </ul>
      </div>
    </div>
</nav>
<div style="margin: auto; width: 50%; height: 50%;">
    <form class="border border-light p-5" method="POST" action="{% url 'password_change'%}">
        {% csrf_token %}
        <input type="text" name="username" value="{{ original.get_username }}" style="display: none">
        <div>
        {% if is_popup %}<input type="hidden" name="_popup" value="1">{% endif %}
        {% if form.errors %}
            {% if form.errors.items|length == 1 %}
            <p class="errornote">
                Please correct the error below.
            </p>
            {% else %}
            <p>Please correct the errors below.</p>
            {% endif %}
        {% endif %}
        <div class="h4 mb-4 text-center" >Thay đổi mật khẩu</div>
        <p>Thay đổi mật khẩu Vui lòng nhập mật khẩu cũ của bạn vì lý do bảo mật, sau đó nhập mật khẩu mới của bạn hai lần để chúng tôi có thể xác minh rằng bạn đã nhập đúng mật khẩu.</p>
        <fieldset class="module aligned">
            <div class="form-row">
                <label class="required" for="old_password">Old password:</label> 
                <input class="form-control" type="password" name="old_password"  id="old_password" {{form.old_password}}
            </div>
            
            <div class="form-row">
        
                <label class="required " for="new_password1">New password:</label> 
                <input class="form-control" type="password" name="new_password1"  id="new_password1" {{form.new_password1}}
                
                <!-- <div class="help">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div> -->
                
            </div>

            <div class="form-row">

                <label class="required " for="new_password2">New password confirmation:</label> 
                <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="new_password2" {{form.new_password2}}
                
            </div>
            
        </fieldset>
        <button type="submit" class="btn btn-primary my-4 btn-block">Save changes</button>
  </form>
</div>
{% endblock %}