{% extends "frontbase.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button"
      data-toggle="collapse" data-target="#navbar6">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar6"> <a class="navbar-brand text-primary d-none d-md-block"
        href="{% url 'home'  %}">
        <i class="fa d-inline fa-circle fa-lg"></i>
        <b>After work</b>
      </a>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item text-center text-success"> <a class="nav-link " href="{% url 'index'  %}" >Trang chủ</a>
        </li>
        {% if sub.position == '0' %}
        <li class="nav-item text-success text-center"> <a class="nav-link" href="{% url 'register_subjects'  %}">Đăng
            kí môn học</a> </li>

        <li class="nav-item text-center"> <a class="nav-link" href="{% url 'view_time_table'  %}">Xem TKB</a> </li>
        {%else%}
          <li class="nav-item text-success text-center"> <a class="nav-link" href="{% url 'register_subjects_teach'  %}">Đăng
            kí môn dạy</a> </li>
          <li class="nav-item text-center"> <a class="nav-link" href="{% url 'create_time_subject'  %}" style="color: #007bff;">Đăng ký lịch dạy</a> </li>
          <li class="nav-item text-center"> <a class="nav-link" href="{% url 'view_schedule_teach'  %}"  >Xem TKB</a> </li> 
        {%endif%}
        <li class="nav-item text-success text-center"> <a class="nav-link" 
            href="{% url 'update_profile' %}">Thông tin cá nhân</a> </li>
        <li class="nav-item text-center"><a class="nav-link" href="{% url 'comment'  %}">Xem thông báo</a></li>
        <li class="nav-item text-center"> <a class="nav-link" href="{% url 'comment'  %}">Đóng góp ý kiến</a> </li>
        
      </ul>

      <ul class="navbar-nav align-items-center d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                {% if sub.id_selfie %}
                <img src="{{sub.id_selfie.url}}" alt="Selfie" style="width: 36px; height: 36px;"
                  class="rounded-circle">
                {%else%}
                <img alt="Image placeholder" src="https://static.pingendo.com/img-placeholder-1.svg"
                  style="width: 36px; height: 36px;" class="rounded-circle">
                {% endif %}
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                Chào bạn
                <span class="mb-0 text-sm  font-weight-bold">
                  {{ user.username }}
                </span>!
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <a href="{% url 'password_change' %}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Thay đổi mật khẩu</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'home' %}" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Thoát</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="margin: auto; width: 50%; height: 50%;">
  <form class="border border-light p-5" method="POST" action="{% url 'create_time_subject'%}"
    enctype="multipart/form-data">
    {% csrf_token %}
    <div class="h4 mb-4 text-center">Thông tin lịch dạy</div>

    {% if error_message %}
    <p class="text-danger p-d ml-b">{{ error_message }}</p>
    {% endif %}
    <div class="form-group ">
      <label class="form-control-label" for="input-time">Kíp</label>
      <select id="input-time" class=" form-control form-control-alternative" name="time" {{form.time}}>
        {% for k,v in time %}
        <option value="{{k}}">{{v}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group ">
      <label class="form-control-label" for="input-day">Thứ</label>
      <select id="input-day_of_week" class=" form-control form-control-alternative" name="day_of_week"
        {{form.day_of_week}}>
        {% for k,v in day_of_week %}
        <option value="{{k}}">{{v}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group ">
      <label class="form-control-label" for="input-subject">Môn dạy</label>
      <select id="input-subject" class=" form-control form-control-alternative" name="subject" {{form.subject}}>
        {% for k in subject %}
        <option value="{{k.pk}}">{{k}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group ">
      <label class="form-control-label" for="input-room">Phòng</label>
      <select id="input-room" class=" form-control form-control-alternative" name="room" {{form.room}}>
        {% for k in room %}
        <option value="{{k}}">{{k}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label" for="input-start">Ngày bắt đầu</label>
          <input type="date" id="input-start" name="start_date" class="form-control form-control-alternative"
            placeholder="Y-m-d" {{ form.start_date }} </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label" for="input-end">Ngày kết thúc</label>
          <input type="date" id="input-end" name="end_date" class="form-control form-control-alternative"
            placeholder="Y-m-d" {{ form.end_date }} </div>
      </div>
    </div>
    <button class="btn btn-primary my-4 btn-block" type="submit">Thêm</button>
  </form>
</div>

{% endblock %}